<h4 class="title"><strong>What's your question ?</strong></h4>
<div class="search-bar">
  <form class="form-inline" action="/answer" data-turbo="false">
    <input class="form-control" type="text" name="question">
    <br>
    <button class="btn btn-outline-primary" type="submit">Search</button>
  </form>
</div>
